@using StudentList.Models
@model IEnumerable<StudentList.Models.Student>

@{
    ViewData["Title"] = "StudentList";
}
<h2>StudentList</h2>

@* SearchByDate: <input type="date" name="bday"> *@

@*SearchByDate: <input type="date" class="form-control">*@
<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <label class="form-inline">SearchByDate:</label><input type="date" class="form-control" placeholder="Search for...">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
<br/>
<table id="table_id" class="display" style="width:100%">
    <thead>
        <tr>
            <th>StudentName</th>
            <th>FatherName</th>
            <th>Class</th>
            <th>Address</th>
            <th>Date of Birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.FatherName</td>
                <td>@item.Class</td>
                <td>@item.Address</td>
                <td>@item.DateOfBirth</td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th>StudentName</th>
            <th>FatherName</th>
            <th>Class</th>
            <th>Address</th>
            <th>Date of Birth</th>
        </tr>
    </tfoot>
</table>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
@section Scripts
    {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#table_id').DataTable(
                {
                    //                    "ajax": {
                    //                        "url": "/Student/GetList",
                    //                        "type": "GET",
                    //                        "datatype": "json"
                    //                    },
                    //                    "columns": [
                    //                        { "data": "Name" },
                    //                        { "data": "Position" },
                    //                        { "data": "Office" },
                    //                        { "data": "Age" },
                    //                        { "data": "Salary" }
                    //                    ]

                });

        });
    </script>
}
