@using StudentList.Models
@model IEnumerable<StudentList.Models.Student>

@{
    ViewData["Title"] = "StudentList";
}
<h2>StudentList</h2>

@* SearchByDate: <input type="date" name="bday"> *@

@*SearchByDate: <input type="date" class="form-control">*@

@*@using (Html.BeginForm("StudentList", "Student", FormMethod.Get))
    {
        @Html.TextBox("")<input type="submit" value="search"/>
    }*@

<div class="row">
    <div class="col-lg-6">
        SearchByName:<input type="text" id="search-student" class="form-control">
    </div>
</div>

@* <p class="suggestion"></p> *@


<br/>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <label class="form-inline">SearchByDate:</label><input type="date" class="form-control" placeholder="Search for...">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
<br />




<table id="table_id" class="display" style="width:100%">
    <thead>
    <tr>
        <th>StudentName</th>
        <th>FatherName</th>
        <th>Class</th>
        <th>Address</th>
        <th>Date of Birth</th>
    </tr>
    </thead>
    <tbody id="stuTbl">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.FatherName</td>
            <td>@item.Class</td>
            <td>@item.Address</td>
            <td>@item.DateOfBirth</td>
        </tr>
    }

    </tbody>
</table>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
@section Scripts
    {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();

            $(document).on("keyup", "#search-student", function () {

                var keyword = $(this).val();

                Search(keyword);
            });

            function Search(keyword) {

                var minLength = 1;

                if (keyword.length >= minLength) {

                    //var allStudentsByKeyword = "";

                    var allStudentsByKeyword = "";

                    $.ajax({
                        type: "GET",
                        url: "/Student/SearchForName",
                        data: { search: keyword, searchDate: keyword},
                        success: function (response) {
                            //$('#table_id').children().remove();
                            $('#table_id').DataTable().clear();
                            $('#table_id').DataTable().destroy();
                            if (response) {
                                
                                $.each(response,
                                    function (i, item) {
                                        
                                        allStudentsByKeyword = "<tr>" +
                                            //"<td>" + item.id + "</td>" +
                                            "<td>" + item.name + "</td>" +
                                            "<td>" + item.fatherName + "</td>" +
                                            "<td>" + item.class + "</td>" +
                                            "<td>" + item.address + "</td>" +
                                            "<td>" + item.dateOfBirth + "</td>" +
                                            "</tr>";
                                        $('#table_id').append(allStudentsByKeyword);
                                    });
                                
                                setTimeout(function () { $('#table_id').DataTable();}, 100);

                            }

                        },

                        complete: function () {
                            $("#search-student").html(allStudentsByKeyword);
                        }
                    });
                }

            };

        });
    </script>
}
